@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

button {
  border-radius: 25%;
}
